* { 
    box-sizing: border-box; 
    overflow-wrap: break-word; 
    word-break: break-all;
}

img{
    width: 5rem;
}

span{
    color: gray;
}

.octocat{
    display: inline-block;
    margin: 5px;
    border-bottom: solid rgb(189, 189, 189) 1px;
}

.authors{
    position: relative;
    width: 8rem;  
    bottom: 17px;
    left: 40px;
}

.image-caption{
    position: relative; 
    width: 45%;
    left: 155px;
    text-align: right;
}

li::before {
    content: "◣"; 
    position: absolute;
    color: rgb(189, 189, 189);
    font-size: 12px;
    transform: rotate(315deg);
    top: -21px;
    right: 6px;
}

a:link, a:visited, a:hover,a:focus, a:active {
    text-decoration: none;
    color: rgb(61, 60, 60);
}

.image-number{
    position: relative;
    top: 15px;
    color:rgb(189, 189, 189)
}

.image-footer{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 12px;
}

li {
    list-style: none;
}

img[src*='saritocat']{
    border: solid;
    border-width: 1px;
    border-color:rgb(189, 189, 189);
    border-radius: 3px;
    width: 20rem;
    height: auto;
    position: relative;
}

img[src*='topguntocat']{
    border: solid;
    border-width: 1px;
    border-color:rgb(189, 189, 189);
    border-radius: 3px;
    width: 20rem;
    height: auto;
    position: relative; 
}

img[src*='carlostocat']{
    border: solid;
    border-width: 1px;
    border-color:rgb(189, 189, 189);
    border-radius: 3px;
    width: 20rem;
    height: auto;
    position: relative;
}

img[src*='JohnCreek']{
    height: auto;
    width: 25px;
    border-radius: 5px;
    float: right;
    padding-left: 3px;
}

img[src*='leereilly']{
    height: auto;
    width: 25px;
    border-radius: 5px;
    float: right;
    padding-left: 3px;
}

img[src*='tonyjaramillo']{
    height: auto;
    width: 25px;
    border-radius: 5px;
    float: right;
    padding-left: 3px;
}

img[src*='jeejkang']{
    height: auto;
    width: 25px;
    border-radius: 5px;
    float: right;
    padding-left: 3px;
}

