* { 
    box-sizing: border-box; 
    overflow-wrap: break-word; 
    word-break: break-all;
}

img{
    width: 5rem;
}

span{
    color: gray;
}

.octocat{
    display: inline-block;
    margin: 5px;
}

.authors{
    position: relative;
    width: 150px;  
    bottom: 35px;
    left: 175px;
}

.image-caption{
    position: relative; 
    border: solid;
    width: 45%;
}

li {
    list-style: none;
}

img[src*='saritocat']{
    border: solid;
    border-width: 1px;
    border-color:rgb(156, 156, 156);
    border-radius: 5px;
    width: 20rem;
    height: auto;
    position: relative;
}

img[src*='topguntocat']{
    border: solid;
    border-width: 1px;
    border-color:rgb(156, 156, 156);
    border-radius: 5px;
    width: 20rem;
    height: auto;
    position: relative; 
}

img[src*='carlostocat']{
    border: solid;
    border-width: 1px;
    border-color:rgb(156, 156, 156);
    border-radius: 5px;
    width: 20rem;
    height: auto;
    position: relative;
}

img[src*='JohnCreek']{
    height: auto;
    width: 25px;
    border-radius: 5px;
    float: right;
    padding-left: 3px;
}

img[src*='leereilly']{
    height: auto;
    width: 25px;
    border-radius: 5px;
    float: right;
    padding-left: 3px;
}

img[src*='tonyjaramillo']{
    height: auto;
    width: 25px;
    border-radius: 5px;
    float: right;
    padding-left: 3px;
}

img[src*='jeejkang']{
    height: auto;
    width: 25px;
    border-radius: 5px;
    float: right;
    padding-left: 3px;
}